.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-template-rows: 50px 50px;
    text-align: center;
}

.item1 {
    background-color: rosybrown;
    

}

.item2 {
    background-color: peachpuff;
    
}

.item3 {
    background-color: steelblue;
    
}

.item4 { 
    background-color: cadetblue;
    
}

.item5 {
    background-color: darkcyan;
    
}

.item6 {
    background-color: indianred;
    
}
